<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graph.mapper.EdgeMapper">

    <insert id="saveEdge" parameterType="com.example.graph.domain.edge.Reviewed" useGeneratedKeys="true">
        CREATE
        (R:Review { rating: #{review.rating}, review: #{review.review}, reviewer: #{review.reviewer} } ),
        (M:movie{ name: #{movie.name}, rating:#{movie.rating} } ),
        (R)-[E:reviewed]->(M);
    </insert>
    <!--CREATE
    (R:Review { rating: #{rating}, review: #{review}, reviewer: #{person} } ),
    (M:movie{ name: #{name}, rating:#{rating} } ),
    (R)-[E:reviewed]->(M);-->

    <insert id="saveMovieToMovie" parameterType="com.example.graph.domain.edge.EdgeMovieToMovie" useGeneratedKeys="true">
        CREATE
        (M1:Movie { name: #{movie1.name}, rating: #{movie1.rating} } ),
        (M2:Movie { name: #{movie2.name}, rating: #{movie2.rating} } ),
        (M1)-[E:EdgeMovieToMovie]->(M2);
    </insert>
    
    <insert id="saveEdgeReviewd" parameterType="com.example.graph.domain.edge.EdgeReviewed" useGeneratedKeys="true">
        CREATE
        (R:Review { reviewer: #{review.reviewer}, review: #{review.review}, rating:#{review.rating} } ),
        (M:Moview { name: #{movie.name}, rating: #{movie.rating} } ),
        (R)-[E:Reviewed]->(M);
    </insert>

</mapper>