<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graph.mapper.ReviewMapper">

    <update id="setGraphPath">
        set graph_path = movie;
    </update>

    <insert id="save" parameterType="com.example.graph.domain.Review" useGeneratedKeys="true">
        CREATE (R:Review {reviewer : #{reviewer}, review: #{review}, rating: #{rating}});
    </insert>

    <select id="findAll" resultType="com.example.graph.domain.Review">
        MATCH (R:Review)
        RETURN R.reviewer as reviewer, R.review as review, R.rating as rating;
    </select>
                                                        <!-- resultType 주의하자 -->
    <select id="findByReviewer" parameterType="String" resultType="com.example.graph.domain.Review">
        MATCH (R:Review) WHERE R.reviewer =#{reviewer}
        RETURN R.reviewer as reviewer, R.review as review, R.rating as rating;
    </select>

    <select id="findAllByObject" resultType="com.example.graph.domain.Review">
        MATCH (R:Review { reviewer:#{reviewer}, review:#{review}, rating:#{rating} } )
        return R.reviewer as reviewer, R.review as review, R.rating as rating;
    </select>

    <select id="findById" parameterType="Object" resultType="com.example.graph.domain.Review">
        MATCH (R) WHERE id(R) = #{vId}
        RETURN R.reviewer as reviewer, R.review as review, R.rating as rating;
    </select>

    <delete id="deleteByReviewer" parameterType="String">
        MATCH (r:review {reviewer:#{reviewer} } )
        DETACH DELETE R;
    </delete>

</mapper>